<div class="col-md-8">
  <h3 class=" fst-italic">
    From the Firehose
  </h3>

  <p class="fst-italic border-bottom"><%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %></p>

  <%= render @blogs %>
  
  <nav class="blog-pagination" aria-label="Pagination">
    <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
    <a class="btn btn-outline-secondary rounded-pill disabled">Newer</a>
  </nav>
</div>