<h1>About Me</h1>

<hr>

<div class="row">
	<div class="col-md-4">
		<%= image_tag"profile.jpg",width: 280, alt: "Profile Image" %>
	</div>
	<div class="col-md-8">
		<p class="lead">System Engineering student with knowledge in programming languages for backend and frontend development of technological applications,
		as well as structuring and managing SQL database</p>
	</div>
</div>
