<main class="px-3">
  <h1>Welcome to My Portfolio</h1>
  <p class="lead">“When to use iterative development? You should use iterative development only on projects that you want to succeed.” – Martin Fowler</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary fw-bold border-white bg-white" %>
  </p>
</main>